*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bg ul{
    display: flex;
    list-style: none;
    gap: 25px;
    padding-right: 50px;
    color: orange;
    
}
nav h1{
    padding-left: 20px;
    color: white;
}
.bg{
    height: 650px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://images.unsplash.com/photo-1581009137042-c552e485697a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzF8fGd5bSUyMHdvcmtvdXR8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}    
.power h1{
    font-size: 45px;
    color: white;
}
.power h1 span{
    color: orange;
}
.power p{
    color: whitesmoke;
}
.power button{
    background-color: transparent;
    color: blue;
    border: 1px solid orange;
    padding: 16px;
}
.power{
    width: 727px;
    height: 197px;
    text-align: center;
    padding-top: 130px;
    margin-left: 370px;
}
.power button:hover{
    background-color: orange;
    cursor: pointer;
}
.bg2{
    width: 1519px;
    height: 855px;
    background-color: black;
    display: flex;
}
.bg2 img{
    width: 463px;
    height: 695px;
    opacity: 0.7;
}
.bg2con{
    color: white;
    margin-top: 230px;
    margin-left: 200px;
    width: 480px;
}
.bg2con h1{
    font-size: 40px;
}
.bg2 p{
    font-size: 19px;
}
.bg2img{
    margin-left: 135px;
    margin-top: 100px;
}
.threeimages{
    display: flex;
    justify-content: space-evenly;
    gap: 75px;
}
.image1 img{
    width: 250px;
    height: 375px;
    margin-bottom: 20px;
}
.image2 img{
    width: 250px;
    height: 375px;
    margin-bottom: 20px;
}
.image3 img{
    width: 250px;
    height: 375px;
    margin-bottom: 20px;
}
.bg3con{
    width: 560px;
    text-align: center;
    margin-left: 490px;
    margin-top: 100px;
    margin-bottom: 130px;
}
.contact{
    background-color: black;
    color: white;
    width: 1519px;
    height: 800px;
}
.orangebox{
    width: 680px;
    height: 550px;
    background-color: orange;
    margin-left: 420px;
}
form{
    margin-left: 40px;
}
.contactcon{
    margin-left: 40px;
}
.but{
    background-color: black;
    color: white;
    padding: 15px;
    margin-left: 220px;
}
.condes{
    text-align: center;
}
